<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">

<head>
<!-- Mobile Specific Meta -->
	<meta name="viewport"
	    content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" th:href="@{/images/img/logo2.png}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>PANDABOO</title>
	<!--
	        CSS
	        ============================================= -->
	<link rel="stylesheet" th:href="@{/images/css/linearicons.css}">
	<link rel="stylesheet" th:href="@{/images/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/images/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/images/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/images/css/owl.carousel.css}">
	<link rel="stylesheet" th:href="@{/images/css/nice-select.css}">
	<link rel="stylesheet" th:href="@{/images/css/nouislider.min.css}">
	<link rel="stylesheet" th:href="@{/images/css/ion.rangeSlider.css}" />
	<link rel="stylesheet" th:href="@{/images/css/ion.rangeSlider.skinFlat.css}" />
	<link rel="stylesheet" th:href="@{/images/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/images/css/main.css}">
	<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" th:src="@{/images/img/logo2.png}" alt="">
						<div class="hover">
							<h4>Quên mật khẩu?</h4>
							<p>Nhập email của bạn vào để có thể đổi mật khẩu mới</p>
							<a class="primary-btn" href="/login">Đăng nhập</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h1>Quên mật khẩu</h1>
						<form class="row login_form" action="forgot_password.php"
							method="post" id="forgotPasswordForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email"
									placeholder="Email" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Email'" required>
								<div class="invalid-feedback">Email phải đúng định dạng và
									không bỏ trống!</div>
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button"
										id="sendVerificationCode">
										<i class="fas fa-arrow-right"></i>
									</button>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="verificationCode"
									name="verificationCode" placeholder="Mã xác nhận"
									onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Mã xác nhận'" required>
								<div class="invalid-feedback">Mã xác nhận không thể bỏ
									trống!</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Xác
									nhận</button>
								<a href="/login">Trở về đăng nhập</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<script th:src="@{/images/js/vendor/jquery-2.2.4.min.js}"></script>
	    <script
	        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
	        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	        crossorigin="anonymous"></script>
	    <script th:src="@{/images/js/vendor/bootstrap.min.js}"></script>
	    <script th:src="@{/images/js/jquery.ajaxchimp.min.js}"></script>
	    <script th:src="@{/images/js/jquery.nice-select.min.js}"></script>
	    <script th:src="@{/images/js/jquery.sticky.js}"></script>
	    <script th:src="@{/images/js/nouislider.min.js}"></script>
	    <script th:src="@{/images/js/jquery.magnific-popup.min.js}"></script>
	    <script th:src="@{/images/js/owl.carousel.min.js}"></script>
	    <!--gmaps Js-->
	    <script
	        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	    <script th:src="@{/images/js/gmaps.min.js}"></script>
	    <script th:src="@{/images/js/main.js}"></script>
	<script src="/js/show3.js"></script>
</body>

</html>