<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" class="no-js">
<head th:fragment="head">
	<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<!-- Favicon-->
<link rel="shortcut icon" th:href="@{/images/img/logo2.png}">
<title>PANDABOO</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/images/css/bootstrap.min.css}">
<!----css3---->
<link rel="stylesheet" th:href="@{/images/css/custom.css}">
<!-- icon -->
<link rel="stylesheet" th:href="@{/images/css/linearicons.css}">
<link rel="stylesheet" th:href="@{/images/css/font-awesome.min.css}">
<!--google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">

<script src="https://kit.fontawesome.com/eea2d1034b.js"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
	rel="stylesheet">

<!--google material icon-->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons"
	rel="stylesheet">
</head>
<body>

</body>
</html>