<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
	layout:decorate="~{layoutAdmin}">
<body>
	<div layout:fragment="mainView">
		<!------main-content-start----------->

		<div class="main-content">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrapper">

						<div class="table-title">
							<div class="row">
								<div
									class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
									<h2 class="ml-lg-2">Danh Sách Đơn Hàng</h2>
								</div>
							</div>
						</div>
						<table class="table table-striped table-hover text-center">
							<thead>
								<tr>
									<th scope="row">Khách hàng</th>
									<th scope="row">Ngày mua</th>
									<th scope="row">Số lượng sản phẩm</th>
									<th scope="row">Tổng tiền</th>
									<th scope="row">Phương thức thanh toán</th>
									<th scope="row">Chi tiết</th>
									<th scope="row">Trạng thái</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr scope="row" th:each="item : ${payments}">
									<td
										th:text="${item?.clientPaymentsEntity?.accountEntity?.fullname}"></td>
									<td th:text="${#dates.format(item?.payDate, 'dd/MM/yyyy')}"></td>
									<td th:text="${item?.totalQuantity}"></td>
									<td th:text="${#numbers.formatCurrency(item?.orderTotal)}"></td>
									<td th:text="${item?.payMethod}">200</td>
									<td><a th:href="'/paymentsDetail?payId=' + ${item?.payId}">Chi
											tiết</a></td>
									<td>
										<span th:class="${item?.status == 1 ? 'text-secondary' : item?.status == 2 ? 'text-success' : item?.status == 3 ? 'text-danger' : 'text-primary'}"
											th:text="${item?.status == 1 ? 'Chờ xác nhận' : item?.status == 2 ? 'Đã nhận đơn' : item?.status == 3 ? 'Đã hủy' : 'Loading...'}" >
										</span>
									</td>
									<td>
										<a type="button" th:class="${item?.status == 3 ? 'btn btn-danger text-white disabled' : 'btn btn-danger text-white'}"
											th:disabled="${item?.status != 3}"
											th:href="'/update-status-payment?payId=' + ${item?.payId} + '&status=3'">
											Hủy đơn </a> 
										<a type="button" th:class="${item?.status == 1 ? 'btn btn-success text-white' : 'btn btn-success text-white disabled'}"
											th:disabled="${item?.status != 1}"
											th:href="'/update-status-payment?payId=' + ${item?.payId} + '&status=2'">
											Nhận đơn </a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="clearfix">
							<div class="hint-text"></div>
							<ul class="pagination">
								<li th:classappend="${payments.first ? 'page-item disabled' : 'page-item'}">
									<a th:href="'/payments?page=' + (${payments.number})">Trước</a>
								</li>
								
								<li class="page-item " th:each="pageNum : ${pageNumbers}">
									<a th:href="'/payments?page=' + ${pageNum}"
										th:classappend="${pageNum == payments.number + 1 ? 'page-link active' : 'page-link'}"
                                   		th:text="${pageNum}">1</a></li>
									
								<li th:classappend="${payments.last ? 'page-item disabled' : 'page-item'}">
									<a th:href="'/payments?page=' + (${payments.number + 2})" class="page-link">Sau</a>
								</li>
							</ul>
						</div>
					</div>
				</div>		
			</div>
		</div>
		<!------main-content-end----------->
	</div>
</body>

</html>


