<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
	layout:decorate="~{layoutAdmin}">
<body>
	<div layout:fragment="mainView">
		<!------main-content-start----------->

		<div class="main-content">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrapper">

						<div class="table-title">
							<div class="row">
								<div
									class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
									<h2 class="ml-lg-2">Danh Sách Sản Phẩm Đã Xóa</h2>
								</div>
								<div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
									<a href="/products" class="btn btn-white"> <i
										class="material-icons">&#xE872;</i> <span>Danh sách sản phẩm</span>
									</a>
									<a href="/productsDetail" class="btn btn-white"> <i
										class="material-icons">&#xE147;</i> <span>Thêm sản phẩm</span>
									</a>
									
								</div>
							</div>
						</div>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th scope="row">Sản phẩm</th>
									<th scope="row">Loại sản phẩm</th>
									<th scope="row">Đơn vị tính</th>
									<th scope="row">Giá gốc</th>
									<th scope="row">Giá bán</th>
									<th scope="row">Mô tả</th>
									<th scope="row"></th>
								</tr>
							</thead>
							<tbody>
								<tr scope="row" th:each="item : ${products}"
									th:if="${item?.status == false}">
									<td class="row"><img alt=""
										th:src="@{'/images/' + ${item?.images?.get(0)?.getName()}}"
										width="100%"> <a th:text="${item?.prod_name}">Túi
											đan tay da có hình trái tim hồng</a></td>
									<td th:text="${item?.categoryEntity?.cat_name}"></td>
									<td th:text="${item?.unitEntity?.unit_name}">Cái</td>
									<td th:text="${#numbers.formatCurrency(item?.price)}">109.000đ</td>
									<td th:text="${#numbers.formatCurrency(item?.red_price)}">200</td>
									<td th:text="${item?.descriptions}">KÍCH THƯỚC (Dài x Rộng
										x Cao): 20x7x14cm, Dây đeo dài: 1.1m</td>
									<td>
										<div class="row gap-3 justify-content-center">
											<div class="col-auto">
												<form action="/restore-product" method="POST">
													<input type="hidden" name="prod_id"
														th:value="${item?.prod_id}">
													<button name="" id="" class="btn btn-success text-white" type="submit"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
												</form>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="clearfix">
							<div class="hint-text"></div>
							<ul class="pagination">
								<li class="page-item disabled"><a href="#">Trước</a></li>
								<li class="page-item "><a href="#" class="page-link">1</a></li>
								<li class="page-item "><a href="#" class="page-link">Sau</a></li>
							</ul>
						</div>
					</div>
				</div>


				<!----add-modal start--------->
				<div class="modal fade" tabindex="-1" id="deleteModal" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Xóa tài khoản</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<h6>Bạn chắc chắn xóa tài khoản này?</h6>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Trở lại</button>
								<button type="button" class="btn btn-success">Xóa</button>
							</div>
						</div>
					</div>
				</div>
				<!----edit-modal end--------->
			</div>
		</div>
		<!------main-content-end----------->
	</div>
</body>

</html>


