<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="~{layoutAdmin}">
<head>
    <!-- Include necessary CSS and JS files -->
</head>
<body>
<div layout:fragment="mainView">
    <!-- Main Content -->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 style="color: #FFA500; margin-bottom: 20px;">QUẢN LÝ NHÂN VIÊN</h3>
                        <form th:action="${account == null ? '/add-staff' : '/update-staff'}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div th:if="${account != null}">
                                    <input type="hidden" id="acc_id" name="acc_id" th:value="${account?.acc_id}">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="fullname">Họ và tên:</label>
                                    <input type="text" class="form-control" id="fullname" name="fullname" th:value="${account?.fullname}">

                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="username">Tên đăng nhập:</label>
                                    <input type="text" class="form-control" id="username" name="username" th:value="${account?.username}">

                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="password">Mật khẩu:</label>
                                    <input type="password" class="form-control" id="password" name="password" th:value="${account?.password}">

                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="phone">SDT:</label>
                                    <input type="text" class="form-control" id="phone" name="phone" th:value="${account?.phone}">

                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" th:value="${account?.email}">

                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="avatar">Hình ảnh:</label>
                                    <div class="custom-file">
                                        <input type="file" name="avatar" class="form-file" id="avatar" accept="image/*">
                                        <label class="custom-file-label" for="avatar">Chọn tệp</label>
                                    </div>

                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="roles">Vai trò:</label>
                                    <input type="hidden" name="roleIds" value=""/> <!-- Ensure roleIds is always present -->
                                    <div th:each="role : ${roles}">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="roleIds" th:value="${role.role_id}"
                                                   th:checked="${selectedRoles != null ? selectedRoles.contains(role.role_id) : false}">
                                            <label class="form-check-label" th:text="${role.role_name}"></label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="primary-btn">Xác nhận</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>
