<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" class="no-js">
<head th:fragment="head">
	<!-- Mobile Specific Meta -->
	<meta name="viewport"
	    content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" th:href="@{/images/img/logo2.png}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>PANDABOO</title>
	<!--
	        CSS
	        ============================================= -->
	<link rel="stylesheet" th:href="@{/images/css/linearicons.css}">
	<link rel="stylesheet" th:href="@{/images/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/images/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/images/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/images/css/owl.carousel.css}">
	<link rel="stylesheet" th:href="@{/images/css/nice-select.css}">
	<link rel="stylesheet" th:href="@{/images/css/nouislider.min.css}">
	<link rel="stylesheet" th:href="@{/images/css/ion.rangeSlider.css}" />
	<link rel="stylesheet" th:href="@{/images/css/ion.rangeSlider.skinFlat.css}" />
	<link rel="stylesheet" th:href="@{/images/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/images/css/main.css}">
	
	<link
	href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700'
	rel='stylesheet' type='text/css'>

<link rel='stylesheet'
	href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" th:href="@{/images/css/style.css}">
<script src="https://kit.fontawesome.com/eea2d1034b.js"
	crossorigin="anonymous"></script>
</head>
<body>

</body>
</html>